# Built outputs
*.iml
.gradle
/local.properties
/build
/captures
/app/build
*.apk
*.aab
*.keystore
*.jks

# Android Studio / IntelliJ IDEA
.idea/

# Native build
.externalNativeBuild
.cxx

# macOS
.DS_Store

# Local properties
local.properties
